#discountHeader{
    margin-top: 10px;
    height: 40px;
    padding-left: 10px;
    background: white;
    display: flex;
    align-items:center;/*垂直居中*/
    border-bottom: 1px solid #eeeeee;
}

#discountHeader >span:nth-child(1){
     
    border-left: 6px solid  rgb(29, 143, 225);
    height: 20px;
    margin-right: 8px;
    border-radius: 2px;
}   
#discountHeader >span:nth-child(2){
    font-size: 1rem;
}

#discountBody{
    display: flex;
    height: 100px;
    background-color: white;
}
#discountBody >div:nth-child(1){
    
    flex: 1;
    background-image: url("../img/score.png");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 95% 50%;    
    padding-left: 10px;
    padding-top: 30px;
    border-right: 1px solid #eeeeee;
}
#discountBody >div:nth-child(1) >p:nth-child(1){
    font-weight: bold
}

#discountBody >div:nth-child(1) >p:nth-child(2){
    font-size:0.8rem;
    margin-top: 4px;
    color: gray;
}

#discountBody >div:nth-child(2){
    flex: 1;
    padding-left: 10px;
    background-image: url("../img/hot.png");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 95% 50%;    
    padding-left: 10px;
    padding-top: 30px;
}

#discountBody >div:nth-child(2) >p:nth-child(1){
    font-weight: bold
}
#discountBody >div:nth-child(2) >p:nth-child(2){
    font-size:0.8rem;
    margin-top: 4px;
    color:grey;
}
