/* step2 */

 
#mainPortal{
    background: rgb(30, 130, 210);
    display: flex;
    background: rgb(30, 130, 210);
    color: white;
    
}
#mainPortal img{
    width: 35%;
}
#mainPortal >li{
    margin-bottom: 10px;
    flex: 1;
    text-align: center;
    color: white;   
    margin-bottom: 10px;
}

#mainPortal >li >img{
    width: 35%;
}