/* step3 */
#subPortal{
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
}

#subPortal >dl{
    text-align: center;
    height: 100px;
    width: 25%;
    display: inline-block;
    color: black;
  
}
#subPortal >dl >dd{
    text-align: center;
    height: 50px;
    
}
#subPortal >dl >dt{
    height: 60px;
  
}
#subPortal >dl >dt >img{
    width: 35%;
  
}